In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gesture_data.csv")

print("Jumlah data awal:", len(df))
df.head()

Jumlah data awal: 3185

,label,x0,y0,x1,y1,x2,y2,x3,y3,x4,...,x16,y16,x17,y17,x18,y18,x19,y19,x20,y20
0,1,0.0,0.0,-0.043507,-0.037583,-0.080437,-0.135875,-0.066955,-0.214908,-0.023267,...,-0.006416,-0.161283,0.031688,-0.249526,0.041572,-0.341720,0.048053,-0.402242,0.052500,-0.470358
1,1,0.0,0.0,-0.044118,-0.033333,-0.084967,-0.135491,-0.074366,-0.218822,-0.027968,...,-0.011078,-0.162089,0.030000,-0.246940,0.037538,-0.338718,0.043051,-0.400295,0.047556,-0.470854
2,1,0.0,0.0,-0.045038,-0.034657,-0.085197,-0.137401,-0.074013,-0.218474,-0.027116,...,-0.011110,-0.160580,0.029209,-0.246958,0.037588,-0.338617,0.042578,-0.400280,0.047151,-0.470088
3,1,0.0,0.0,-0.044003,-0.033802,-0.083865,-0.135261,-0.073486,-0.218134,-0.028358,...,-0.010140,-0.160492,0.029526,-0.246267,0.037867,-0.337017,0.043685,-0.397827,0.047331,-0.467606
4,1,0.0,0.0,-0.045019,-0.033934,-0.084781,-0.135027,-0.075316,-0.217722,-0.030668,...,-0.010458,-0.158815,0.030923,-0.246410,0.036837,-0.337575,0.040341,-0.399872,0.043359,-0.470846

In [4]:
df_filtered = df[df["label"] != 1]

print("Jumlah data setelah label dihapus:", len(df_filtered))

Jumlah data setelah label dihapus: 2592

In [ ]:
df_filtered.to_csv("gesture_data_edited.csv", index=False)